body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 20vh 70vh 10vh ;
}

#header{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar{
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hair{
    height: 120px;
    width: 120px;
    position: relative;
    top: 90px;
    border-radius: 60px 60px 10px 10px;
    border: 2px solid;
}

#head{
    height: 80px;
    width: 80px;
    border-radius: 30px 30px 40px 40px ;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    z-index: 1;
}

#neck{
    border: 2px solid;
    height: 12px;
    width: 25px;
    position: relative;
    top: 15px;
    background-color: white;
}

#body{
    height: 130px;
    width: 110px;
    border-radius: 10px;
    border: 2px solid;
    border-radius: 30px 30px 50px 50px;
    background-color: white;
    z-index: 1;
}

#rest{
    position: relative;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#arms{
    height: 70px;
    width: 210px;
    position: relative;
    top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arm{
    height: 40px;
    width: 90px;
    border: 2px solid;
}

.arm.right{
    transform: rotate(-30deg);
    border-radius: 40px 0 10px 10px;
}

.arm.left{
    transform: rotate(30deg);
    border-radius: 0 40px 10px 10px;
}

#legs{
    height: 100px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -20px;
}

.leg{
    height: 90px;
    width: 55px;
    border: 2px solid;
}

.leg.right{
    transform: rotate(15deg);
    border-radius: 40px 0 30px 30px;
}

.leg.left{
    transform: rotate(-15deg);
    border-radius: 0px 40px 30px 30px;
}

#feet{
    height: 50px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -40px;
}

.foot{
    height: 40px;
    width: 60px;
    border: 2px solid;
    background-color: white;
    z-index: 1;
}

.foot.right{
    border-radius: 30px 5px 5px 15px;
}

.foot.left{
    border-radius: 5px 30px 15px 5px;
}

#footer{
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}